* {
  margin: 0 auto;
  padding: 0;
}
.Header {
  height: 30px;
  width: 100vw;
}
h2 {
  text-align: center;
  color: rgb(43, 110, 70);
  font-family: cursive;
  font-size: 34px;
  padding-top: 15px;
}
