
#table {
  display: inline-flex;
  margin: 0 auto;
  padding: 50px;
  text-align: center;

}
.circle:active {
  box-shadow: inset 0px 0px 5px #000;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  height: 165px;
  width: 165px;
  margin: 20px;
  background: #42c692;
  box-shadow: inset 0px 0px 10px black;
  margin-top: 30%;
}
.circle:focus {
  outline:none;
}
