
#win {
  display: inline-block;
  height: 200px;
  width: 385px;
  background-color: darkgrey;
  border-radius: 20px;
  position: absolute;    
  left: 36%;
  top: 30%;
  margin-left: 20px;
}
#win p {
  color: black;
  font-size: 20px;
  padding: 20px;
}
#win body {
  background: rgb(102, 112, 129);
}
#close {
  margin: 3em;
  border: none;
}
#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);  /* transparency here the last one... */
display: flex;
justify-content: center;
align-items: center;
}
